{% extends 'layout.html'%}

{%block title%} Página de Formularios{%endblock%}

{% block content %}
<h1 class="title">Formularios en Django</h1>

<form action="{% url 'save' %}" method="GET">

    <label for="title">Title</label>
    <input type="text" name="title" placeholder=" Enter Title"/>

    <label for="contributors">Contributors</label>
    <input type="text" name="contributors" placeholder=" Enter collaborators"/>

    <label for="iswc">ISWC</label>
    <input type="text" name="iswc" placeholder=" Enter ISWC"/>

    <input type="submit" value="Guardar">
</form>
<br>
<hr/>
{%include 'listado.html'%}

{% endblock %}