{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    
    {% endblock %}
    |Dariel Lopez</title>

    
<link rel="stylesheet" type="text/css" href="{% static 'css\styles.css'%}" />

</head>
<body>

    <!--Cabecera de la pagina-->
<header>
    <div id ="logotipo">
        <!--Logo django-->
        <img src="{% static 'images/logo.png'%}">
        <h1>Sitio web con Django | Dariel Lopez</h1>
    </div>
</header>
<nav>
    <ul>
        
        
        <li>
            <a href="/articulos">Listado</a>
        </li>
        
        <li>
            <a href="/pagina-pruebas">Listado en formato Json</a>
        </li>
       
    </ul>
</nav>
    
<div class="barra">
<span class="esquina-izquierda"></span>
<span class="relleno-barra"></span>
<span class="esquina-derecha"></span>
</div>


<div id="content">
    <div class="box">
    
{% block content %}
<!--Codigo que viene de templates-->


{% endblock %}
    </div>
</div>

<footer>
    Proyecto Django en Python &copy; Dariel Lopez
</footer>
</body>
</html>
