




{%block content%}

<h1>List of Articles!!!</h1>
<table class="table table-hover table-striped taq table-bordered bg-white table-sm">
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Contributors</td>
        <td>Fecha </td>
        <td>ISWC</td>
    </tr>
</thead>
    <tbody>
        {% for articulo in articulos %}
        <tr>
            <td> {{articulo.id}}</td> 
            <td>{{articulo.title}}</td> 
            <td>{{articulo.contributors}} </td> 
            <td>{{articulo.iswc}}</td>
            <td><span>{{articulo.created_at}}</span></td>
             <td><a href="{% url 'borrar' id=articulo.id%}"> Eliminar </a></td>
        </tr></tbody>
            {% endfor %}
        
    </table>
    {%endblock%}