{% extends 'layout.html'%}

{%block title%} Listado en formato Json {%endblock%}

{% block content %}

<h1>Pagina de mi web</h1>
<p>Creado por Dariel </p>
{%include 'create_article.html'%}
{% endblock %}