/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #f2f2f2;
}

/*Estilos cabecera*/
header {
  width: 1212px;
  height: 140px;
  background-color: #23282b;
  margin: 0 auto;
}
#logotipo {
  width: 60%;
  height: 140px;
  margin: 0 auto;
  padding-top: 10px;
}

#logotipo img {
  display: block;
  float: left;
  width: 80px;
  margin-top: 20px;
}

#logotipo h1 {
  display: block;
  letter-spacing: 2px;
  float: right;
  font-weight: normal;
  color: snow;
  margin-top: 45px;
  color: #2ba977;
}

/*Estilos barra de  navegación */

nav {
  width: 1250px;
  height: 40px;
  background-color: #1b1e1f;
  border: 1px solid #333333;
  margin: 0 auto;
  box-shadow: 0px 22px 22px gray;
  font-size: 15px;
}

nav ul {
  list-style: none;
  text-decoration: none;
}

nav ul li {
  line-height: 40px;
  float: left;
}

nav ul li a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
}

nav ul li a:hover {
  background: #2ba977;
  box-shadow: 0px 0 px 5px #333333 inset;
  color: white;
  transition: all 300ms;
}

.barra {
  width: 1250px;
  margin: 0 auto;
}

.esquina-izquierda {
  display: block;
  border-left: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: left;
}

.esquina-derecha {
  display: block;
  border-right: 20px solid transparent;
  border-top: 10px solid #2b2f30;
  float: right;
}

.relleno-barra {
  display: block;
  width: 1210px;
  background: #2b2f30;
  height: 10px;
  float: left;
}

#content {
  width: 1212px;
  min-height: 930 px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

.box {
  background: white;
  width: 90%;
  min-height: 930px;
  padding: 20px;
  border: 1 px solid #ddd;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button {
  padding: 5px;
  margin-top: 5px;
  background: #2ba977;
  color: white;
  border: 1px solid black;
  transition: 300ms all;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
  cursor: pointer;
  background: #1f7e58;
  transition: 300ms all;
}

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #444;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table-sm th,
.table-sm td {
  padding: 0.3rem;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #444;
  background-color: rgba(0, 0, 0, 0.075);
}
